{% extends "base.html" %}
{% block title %}About me{% endblock %}
{% block content %}
	<h1>Welcome on my webpage!</h1>
	<h2>About me</h2>
	<hr>
	<p>
		My name is Michał Soida. I am a robotics engineer - professionally I deal mainly with the development of industrial manipulators, in particular their control systems. Due to the very wide range of knowledge necessary for professional development of robotic solutions, I also deal with microcontrollers, single board computers, servers and network administration.
	</p>
	<p>
		I am a graduate of the <a href="http://www.agh.edu.pl/">AGH University of Science and Technology</a>, where I continue my scientific career at the <a href="http://krim.agh.edu.pl/pl/">Robotics and Mechatronics Department</a>. I work at <a href="http://www.multiprojekt.pl/">Multiprojekt Automatyka</a>, and in the afternoons I provide IT and technical support at <a href="http://www.soidaconsulting.com/">Soida Management Consulting &amp; Coaching</a>.  More information about me can be found in my <a href="{{ url_for('static', filename='cv/cv_en.pdf') }}">CV</a>.</p>
	<p>
		In my spare time I broaden my knowledge by developing private projects - a description of some of them can be found in the <a href="{{ url_for('.projekty') }}">project gallery</a>.
	</p>
	<h2>Places where you can find me</h2>
	<hr>
	<ul>
		<li><a href="https://www.linkedin.com/in/msoida">LinkedIn</a></li>
		<li><a href="https://www.facebook.com/msoida">Facebook</a></li>
		<li><a href="https://twitter.com/msoida">Twitter</a></li>
	</ul>
{%- endblock %}
