{% extends "base.html" %}
{% block title %}About me{% endblock %}
{% block content %}
	<h1>Witam na mojej stronie!</h1>
	<h2>O mnie</h2>
	<hr>
	<p>
		Nazywam się Michał Soida. Jestem inżynierem robotykiem - zawodowo zajmuję się przede wszystkim rozwijaniem manipulatorów przemysłowych, a w szczególności ich systemów sterowania. Ze względu na bardzo szeroki zakres wiedzy niezbędnej do profesjonalnego rozwoju projektów robotycznych, zajmuję się również mikrokontrolerami, minikomputerami (SBC), administracją serwerów i sieci.
	</p>
	<p>
		Jestem absolwentem <a href="http://www.agh.edu.pl/">Akademii Górniczo-Hutniczej</a>, gdzie na katedrze <a href="http://krim.agh.edu.pl/pl/">Robotyki i Mechatroniki</a> kontynuuję swoją karierę naukową. Pracuję w firmie <a href="http://www.multiprojekt.pl/">Multiprojekt Automatyka</a>, a popołudniami zajmuję się wsparciem informatycznym i technicznym w <a href="http://www.soidaconsulting.com/">Soida Management Consulting &amp; Coaching</a>. Więcej informacji o mnie można znaleźć w moim <a href="{{ url_for('static', filename='cv/cv_pl.pdf') }}">CV</a>.</p>
	<p>
		W wolnym czasie poszerzam swoją wiedzę rozwijając prywatne projekty - opis części z nich można znaleźć w <a href="{{ url_for('.projekty') }}">galerii projektów</a>.
	</p>
	<h2>Strony, na których można mnie znaleźć</h2>
	<hr>
	<ul>
		<li><a href="https://www.linkedin.com/in/msoida">LinkedIn</a></li>
		<li><a href="https://www.facebook.com/msoida">Facebook</a></li>
		<li><a href="https://twitter.com/msoida">Twitter</a></li>
	</ul>
{%- endblock %}
