{% extends "base.html" %}
{% block title %}
CV
{% endblock %}
{% block content %}
{%- if user.is_authenticated %}
	<a href="{{ url_for('.projekty_edit', project_id=project.id) }}"><h1>CV</h1></a>
{%- else %}
	<h1>CV</h1>
{%- endif %}
{%- if english %}
		<a href="{{ url_for('static', filename='cv/cv_en.pdf') }}">CV - PDF version</a>
		{{ project.content_en|safe }}
{%- else %}
		<a href="{{ url_for('static', filename='cv/cv_pl.pdf') }}">CV - wersja PDF</a>
		{{ project.content_pl|safe }}
{%- endif %}
{%- endblock %}
