{% extends "base.html" %}
{% block title %}
{%- if english -%}
My projects
{%- else -%}
Moje projekty
{%- endif %}
{% endblock %}
{% block content %}
{%- if english %}
	<h1>My projects</h1>
{%- else %}
	<h1>Moje projekty</h1>
{%- endif %}
{%- for project in projects if project.title_pl != 'CV' %}
{%- if user.is_authenticated %}
	<a href="{{ url_for('.projekty_edit', project_id=project.id) }}">
{%- endif %}
{%- if english %}
	<h2>{{ project.title_en }}</h2>
{%- else %}
	<h2>{{ project.title_pl }}</h2>
{%- endif %}
{%- if user.is_authenticated %}
	</a>
{%- endif %}
	<hr>
	<p>
{%- if english %}
		{{ project.description_en }}
{%- else %}
		{{ project.description_pl }}
{%- endif %}
	</p>
{%- endfor %}
{%- endblock %}
