{% extends "base.html" %}
{% block title %}
{%- if english -%}
My projects
{%- else -%}
Moje projekty
{%- endif %}
{% endblock %}
{% block content %}
{%- if english %}
	<h1>My projects</h1>
{%- else %}
	<h1>Moje projekty</h1>
{%- endif %}
{%- for project in projects if project.title_pl != 'CV' %}
{%- if english %}
	<h2>{{ project.title_en }}</h2>
{%- else %}
	<h2>{{ project.title_pl }}</h2>
{%- endif %}
	<hr>
	<p>
{%- if english %}
		{{ project.description_en }}
{%- else %}
		{{ project.description_pl }}
{%- endif %}
	</p>
{%- endfor %}
{%- endblock %}
