{% extends "base.html" %}
{% block title %}Edycja projektu{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.13.0/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.14.0/plugins/table/ui/trumbowyg.table.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.13.0/trumbowyg.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.14.0/plugins/base64/trumbowyg.base64.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.13.0/plugins/cleanpaste/trumbowyg.cleanpaste.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.13.0/plugins/history/trumbowyg.history.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.14.0/plugins/pasteimage/trumbowyg.pasteimage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.14.0/plugins/table/trumbowyg.table.min.js"></script>
{%- endblock %}
{% block content %}
	<p><form action="{{ url_for('.save_project') }}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="project_id" value="{{ project.id }}">
		Nazwa PL: <input type="text" name="title_pl" size="50" required value="{{ project.title_pl }}"><br>
		<br>
		Nazwa EN: <input type="text" name="title_en" size="50" required value="{{ project.title_en }}"><br>
        <br>
        Miniatura: <input type="file" name="data"><br>
        <!-- <br> -->
        Opis PL:<br>
		<textarea class="contentEditor" name="description_pl">{{ project.description_pl }}</textarea>
        <br>
        Opis EN:<br>
		<textarea class="contentEditor" name="description_en">{{ project.description_en }}</textarea>
        <br>
        Treść PL:<br>
        <textarea class="contentEditor" name="content_pl">{{ project.content_pl }}</textarea>
        <br>
        Treść EN:<br>
        <textarea class="contentEditor" name="content_en">{{ project.content_en }}</textarea>
        <br>
        <input type="submit" value="Zapisz projekt"><br>
	</form></p>
    <script>
        $(document).ready(function() {
            $.trumbowyg.svgPath = "{{ url_for('static', filename='trumbowyg-icons.svg') }}";
            $('.contentEditor').trumbowyg({
                resetCss: true,
                urlProtocol: 'http',
                minimalLinks: true,
                btns: [
                    ['viewHTML'],
                    ['historyUndo', 'historyRedo'],
                    ['formatting'],
                    ['strong', 'em', 'superscript', 'subscript'],
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['horizontalRule'],
                    ['unorderedList', 'orderedList'],
                    ['removeformat'],
                    // ['insertImage'],
                    ['link', 'base64', 'table'],
                    ['fullscreen']
                ],
			    plugins: {
			        table: {
			            rows: 10,
			            columns: 6,
			        }
			    },
            });
        });
    </script>
{%- endblock %}
